/****************Index Page****************/
#navBar
{
    height: 60px;
    width: 100%;
    background-color: darkgray;
    border-radius: 10px;
    border-color: red
}

.navBarOptions
{
    height: 10px;
    font-size: 30px;
    padding-left: 2%;
    position: relative;
    top:10px;
    
}

/****************Home Page****************/
#homePage
{
    font-size: 60px;
    font-family: monospace;
    position: absolute;
    top: 200px;
    left: 20%;
}

/****************Search Page****************/

#searchDiv
{
    width: 88%;
    height: 170px;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    background-color: beige;
    
    position: relative;
    left: 100px;
    top: 50px;
}

#searchDetail1
{
    font-size: 30px;
    position: inherit;
    left: 100px; top: 20px;
}

#searchDetail2
{
    font-size: 30px;
    position: inherit;
    left: 100px; top: 40px;
}

#searchButton
{
/*
    height: 90px; not working
*/
    width: 10%;
    position: relative;
    left: 15%;
    bottom: -80px;
}

#contactName
{
    width: 50%;
    height: 40px;
    position: relative;
    top: 20px;
    left: 210px;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace
    
}

#contactLastName
{
    width: 50%;
    height: 40px;
    position: relative;
    top: 40px;
    left: 150px;
    border-radius: 10px;
    font-size: 20px;
    font-family: monospace
}

table 
{
    position: fixed;
    top: 350px;
    left: 100px;
    width: 88%
}
th 
{
    width: 100px;
}

tr
{
    height: 30px;
}

/****************New Page****************/

form
{
    width: 70%;
    height: 600px;
    position: relative;
    left: 15%;
    top: 50px    
}


/***Labels***/

.CommonPropsLabel
{
    font-size: 30px;
}

#firstNameNewLabel
{
    position: relative;
    top: 20px;
}

#lastNameNewLabel
{
    position: relative;
    top: 40px;    
    
}

#titleOptionsLabel
{
    position: relative;
    top: 60px;    
}

#ageLabel
{
    position: relative;
    top: 80px;    
    
}

#rbEmployee
{
    position: relative;
    top: 100px;    
    
}

#emailAddressLabel
{
    position: relative;
    top: 100px;    
    
}

/***Inputs***/

.CommmonPropsInput
{
    width: 25%;
    height: 35px;
    border-radius: 5px;    
}

#firstNameNew
{
    position: relative;
    top: 20px;
    left: 80px
}

#lastNameNew
{
    position: relative;
    top: 40px;
    left: 83px
    
}

#titleOptions
{
    position: relative;
    top: 60px;
    left: 120px
}

#age
{
    position: relative;
    top: 80px;    
    left: 165px;
    width: 25%;
    border-radius: 5px
}

#rbYes
{
    position: relative;
    top: 100px;
    left: 90px;    
}

#rbYesLabel
{
    position: relative;
    top: 80px;
    left: 240px
    
}
#rbNo
{
 
    position: relative;  
    top: 100px;
    left: 188px;
}

#rbNoLabel
{
    position: relative;
    top: 82px;
    left: 240px;
    
}

#emailAddress
{
    position: relative;
    top: 100px;    
    left: 50px
}

#saveButton
{
    width: 100px;
    position: absolute;
    bottom: 120px;
    left: 280px;
    border-radius: 5px
}


/*********Edit************/

/***Labels***/

.CommonPropsLabel1
{
    font-size: 30px;
}

#firstNameNewLabel1
{
    position: relative;
    top: 20px;
}

#lastNameNewLabel1
{
    position: relative;
    top: 40px;    
    
}

#titleOptionsLabel1
{
    position: relative;
    top: 60px;    
}


#rbEmployee1
{
    position: relative;
    top: 90px;    
    
}

#emailAddressLabel1
{
    position: relative;
    top: 80px;    
    
}

/***Inputs***/

#firstNameNew1
{
    position: relative;
    top: 20px;
    left: 80px
}

#lastNameNew1
{
    position: relative;
    top: 40px;
    left: 83px
    
}

#titleOptions1
{
    position: relative;
    top: 60px;
    left: 120px
}

#rbYes1
{
    position: relative;
    top: 80px;
    left: 90px;    
}

#rbYesLabel1
{
    position: relative;
    top: 60px;
    left: 240px
    
}
#rbNo1
{
 
    position: relative;  
    top: 80px;
    left: 188px;
}

#rbNoLabel1
{
    position: relative;
    top: 62px;
    left: 240px;
    
}

#emailAddress1
{
    position: relative;
    top: 80px;    
    left: 50px
}

#saveButton1
{
    width: 100px;
    position: absolute;
    bottom: 200px;
    left: 280px;
    border-radius: 5px
}



