<form ng-controller="ContactController" ng-submit="updateContact()">
    <label id="firstNameNewLabel1" class="CommonPropsLabel">First Name</label>
    <input id="firstNameNew1" class="CommmonPropsInput" type="text" ng-model="tempContact.firstName" required ><br>
    
    <label id="lastNameNewLabel1" class="CommonPropsLabel">Last Name</label>
    <input id="lastNameNew1" class="CommmonPropsInput" type="text" ng-model="tempContact.lastName" required /> <br>
    
    <label id="titleOptionsLabel1" class="CommonPropsLabel">Job title</label>
    <select id="titleOptions1" class="CommmonPropsInput" ng-model="tempContact.jobTitle"  >
        <option>Intern</option>
        <option>HR</option>
        <option>Line Manager</option>
        <option>Founder &amp; CEO</option>
    </select><br>
        
    <label id="rbEmployee1" class="CommonPropsLabel">Employee</label>
    <input id="rbYes1" type="radio" name="employeeRb" value="Yes" ng-click="setEmployee(document.getElementById('rbYes').value)" /> <br>
    <label id="rbYesLabel1" for="rbyes">Yes</label>
    
    <input id="rbNo1" type="radio" name="employeeRb" value="No" ng-click="setEmployee(document.getElementById('rbNo').value)" /> <br>
    <label id="rbNoLabel1" for="rbNo">No</label> <br>
    
    <label id="emailAddressLabel1" class="CommonPropsLabel">Email address</label>
    <input id="emailAddress1" class="CommmonPropsInput" type="email" ng-model="tempContact.email" required required/> <br>
    
    <input id="saveButton1" type="submit" value="Save" />
    
</form>