<form ng-controller="ContactController" ng-submit="submitContact()" >
    
    <label id="firstNameNewLabel" class="CommonPropsLabel">First Name</label>
    <input id="firstNameNew" class="CommmonPropsInput" type="text" ng-model="fName" required /> <br>
    
    <label id="lastNameNewLabel" class="CommonPropsLabel">Last Name</label>
    <input id="lastNameNew" class="CommmonPropsInput" type="text" ng-model="lName" required /> <br>
    
    <label id="titleOptionsLabel" class="CommonPropsLabel">Job title</label>
    <select id="titleOptions" class="CommmonPropsInput" ng-model="selectedJob" required>
        <option>Intern</option>
        <option>HR</option>
        <option>Line Manager</option>
        <option>Founder &amp; CEO</option>
    </select><br>
    
    <label id="ageLabel" class="CommonPropsLabel">Age</label>
    <input id="age" class="CommmonPropsInput" type=number ng-model="ageNew" /><br>
    
    <label id="rbEmployee" class="CommonPropsLabel">Employee</label>
    <input id="rbYes" type="radio" checked name="employeeRb" onclick="setYes()" /> <br>
    
    <label id="rbYesLabel" for="rbyes">Yes</label>
    <input id="rbNo" type="radio" name="employeeRb" onclick="setNo()" /> <br>
    
    <label id="rbNoLabel" for="rbNo">No</label> <br>
    
    <label id="emailAddressLabel" class="CommonPropsLabel">Email address</label>
    <input id="emailAddress" class="CommmonPropsInput" type="email" ng-model="emailNew" required required/> <br>
    
    <input id="saveButton" type="submit" value="Save" />
    
</form>
