 <div id="searchDiv">
            <label id="searchDetail1">Contact Name</label>
            <input id="contactName" type="text" ng-model="firstNameText"/><br>
            
            <label id="searchDetail2"> Contact Last Name</label>
            <input id="contactLastName" type="text" ng-model="lastNameText"/>
            
            <input id="searchButton" type="button" value="Search">         
        </div>
        
        <table border="1" ng-controller="TableController">
            <tr>
                <th> First Name </th>
                <th> Last Name </th>
                <th> Job Title </th>
                <th> Age </th>
                <th> Nickname </th>
                <th> Employee </th>
                <th> Email </th>
                <th> Edit/Delete </th>
            </tr>
            
            <tr ng-repeat="detail in userDetailsController | filter: {'firstName': firstNameText, 'lastName': lastNameText}" ng-controller="ContactController" >                
                <td> {{detail.firstName}} </td>
                <td> {{detail.lastName}} </td>
                <td> {{detail.jobTitle}} </td>
                <td> {{detail.age}} </td>
                <td> {{detail.nickname}} </td>
                <td ng-bind-html="checkEmployee(detail.employee)"> </td>
                <td> {{detail.email}} </td>
                <td> <input type="button" value="Edit" ng-click="newState(detail)" /> <input type="button" value="Delete" ng-click="deleteContact(detail)" /></td>
            </tr>

        </table>